body {
    font-family:poopins,sans-serif;
    background-color:  #464643;
    
    /* #C4DFE6 */
  }
  
  .calculator {
    width: 425px;
    margin: 220px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #b2e3f1;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  input {
    width : 90%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 7px;
    height: 20px;
  }
  
  button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #A43820;
    color: #F1D3B2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 25px;
  }
  
  button:hover {
    transform: scale(1.035);
    background-color: rgba(246, 161, 4, 0.937);
    color: black;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
  }
  